
{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>Here you will find all about Rick and Morty!</p>

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2">The code of this app is in </a>
            <a class="mr-2"  href = 'https://github.com/fbarrientosj/Taller-T1'>here </a>
          </div>
          <h2></h2>
          <p class="article-content">Episode code: </p>
        </div>
      </article>
{% endblock content %}