{% extends "layout.html" %}
{% block content %}
    

  

    {% for episode in episodes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Date {{ episode.air_date }}</a>
            </div>
            <h2><a class="article-title" href = {{ url_for('find_episode' ,episode_id=episode.id) }}>Episode {{ episode.name }}</a></h2>
            <p class="article-content">Episode code: {{ episode.episode }}</p>
          </div>
        </article>
    {% endfor %}

    
{% endblock content %}