{% extends "layout.html" %}
{% block content %}
    
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="text-muted">Place type {{ place.type }}</a>
        </div>
        <h2><a class="article-title" >Place name {{ place.name }}</a></h2>
        <p class="text-muted">Place dimension {{ place.dimension }}</p>
        </div>
    </article>
  
    {% if place.typeCharacters == 'list' %}
        {% for resident in place.residents %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2">Resident </a>
                <a class="mr-2" href = {{ url_for('find_character' ,character_id=resident.id) }}>  {{ resident.name }}</a>
                <small class="text-muted"> species {{ resident.species }}</small>
                </div>
            </div>
            </article>
        {% endfor %}
    
    {% else %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">Resident </a>
                <a class="mr-2" href = {{ url_for('find_character' ,character_id=place.residents.id) }}> {{ place.residents.name }}</a>
                <small class="text-muted"> species {{ place.residents.species }}</small>
                </div>
            </div>
        </article>

    {% endif %}

    
{% endblock content %}